@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #ffe031;
  --darkColor: #414141;
  --grayColor: #a7a7a7;
}

body {
  font-family: "Roboto", sans-serif;
}

.bienvenida {
  background-color: var(--mainColor);
}

.colorGrayDrak {
  color: var(--darkColor);
}

.colorGray {
  color: var(--grayColor);
}
.bgGray {
  background-color: var(--grayColor);
}
